div#area {
    font: normal 20pt Arial;
    background: green;
    color: white;
    width: 200px;
    line-height: 200px;
    text-align: center;

    
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}