body{
    background: fixed radial-gradient(blue, gray);
}


.box {
    font: normal 18pt Arial; 
    padding: 5px;
    width: 50%;
    height: 50%;
    background: fixed radial-gradient(white, blue);
    color: black;
    margin: auto;
    margin-top: 100px;
    text-align: center; 
}
